@page
@model WebAppBattleship.Pages_Boards.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Board</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Board.BoardName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Board.BoardName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Board.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Board.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Board.NextTurnByWho)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Board.NextTurnByWho)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Board.PlayerABoard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Board.PlayerABoard)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Board.PlayerBBoard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Board.PlayerBBoard)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Board.PlayerAShips)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Board.PlayerAShips)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Board.PlayerBShips)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Board.PlayerBShips)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Board.ShipsSankByA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Board.ShipsSankByA)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Board.ShipsSankByB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Board.ShipsSankByB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Board.Game)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Board!.Game!.GameId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Board.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Board.CreatedAt)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Board.BoardId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
