@page
@model WebAppBattleship.Pages_Boards.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Board</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Board.BoardId" />
            <div class="form-group">
                <label asp-for="Board.BoardName" class="control-label"></label>
                <input asp-for="Board.BoardName" class="form-control" />
                <span asp-validation-for="Board.BoardName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Board.Description" class="control-label"></label>
                <input asp-for="Board.Description" class="form-control" />
                <span asp-validation-for="Board.Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Board.NextTurnByWho" /> @Html.DisplayNameFor(model => model.Board.NextTurnByWho)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Board.PlayerABoard" class="control-label"></label>
                <input asp-for="Board.PlayerABoard" class="form-control" />
                <span asp-validation-for="Board.PlayerABoard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Board.PlayerBBoard" class="control-label"></label>
                <input asp-for="Board.PlayerBBoard" class="form-control" />
                <span asp-validation-for="Board.PlayerBBoard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Board.PlayerAShips" class="control-label"></label>
                <input asp-for="Board.PlayerAShips" class="form-control" />
                <span asp-validation-for="Board.PlayerAShips" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Board.PlayerBShips" class="control-label"></label>
                <input asp-for="Board.PlayerBShips" class="form-control" />
                <span asp-validation-for="Board.PlayerBShips" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Board.ShipsSankByA" class="control-label"></label>
                <input asp-for="Board.ShipsSankByA" class="form-control" />
                <span asp-validation-for="Board.ShipsSankByA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Board.ShipsSankByB" class="control-label"></label>
                <input asp-for="Board.ShipsSankByB" class="form-control" />
                <span asp-validation-for="Board.ShipsSankByB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Board.GameId" class="control-label"></label>
                <select asp-for="Board.GameId" class="form-control" asp-items="ViewBag.GameId"></select>
                <span asp-validation-for="Board.GameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Board.CreatedAt" class="control-label"></label>
                <input asp-for="Board.CreatedAt" class="form-control" />
                <span asp-validation-for="Board.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
