@page
@model WebAppBattleship.Pages_Boards.IndexModel

@{
    ViewData["Title"] = "Boards";
}

<h1>Available snapshots</h1>

<p>GAME: ID: @Model.Board[0].Game!.GameId | Name: @Model.Board[0].Game!.GameName </p>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Board[0].BoardName)
        </th>
        <th>
            Next turn by who?
        </th>
        <th>
            Ships sank by @Model.PlayerA
        </th>
        <th>
            Ships sank by @Model.PlayerB
        </th>
        <th>
            Game Created At
        </th>
        <th>
            Board Saved At
        </th>
        <th>
            Has a Winner
        </th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Board)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BoardName)
            </td>
            <td>
                @{
                    var nextTurnPlayer = Model.PlayerA;
                    if (!item.NextTurnByWho)
                    {
                        nextTurnPlayer = Model.PlayerB;
                    }
                }
                @nextTurnPlayer
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipsSankByA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipsSankByB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game!.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @if (item.Winner != null)
                {
                    @Html.Raw("&#9989;")
                }
                else
                {
                    @Html.Raw("&#11036;")
                }
            </td>
            <td>
                <a class="btn btn-success" asp-page="/GamePlay/MidScreen" asp-route-boardId="@item.BoardId" asp-route-msg="start"><i class="fas fa-user"></i>Launch</a>
            </td>
            <td>
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.BoardId"><i class="fas fa-user"></i>Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>