@page
@model WebAppBattleship.Pages_Games.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game!.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game!.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game!.GameName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game!.GameName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game!.GameOption)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game!.GameOption!.GameOptionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game!.PlayerA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game!.PlayerA!.PlayerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game!.PlayerB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game!.PlayerB!.PlayerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game!.GameCreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game!.GameCreatedAt)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Game!.GameId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="/Index">Back to List</a>
    </form>
</div>
