@page
@model WebAppBattleship.Pages_Games.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Game!.GameId" />
            <div class="form-group">
                <label asp-for="Game!.Description" class="control-label"></label>
                <input asp-for="Game!.Description" class="form-control" />
                <span asp-validation-for="Game!.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game!.GameName" class="control-label"></label>
                <input asp-for="Game!.GameName" class="form-control" />
                <span asp-validation-for="Game!.GameName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game!.GameOptionId" class="control-label"></label>
                <select asp-for="Game!.GameOptionId" class="form-control" asp-items="ViewBag.GameOptionId"></select>
                <span asp-validation-for="Game!.GameOptionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game!.PlayerAId" class="control-label"></label>
                <select asp-for="Game!.PlayerAId" class="form-control" asp-items="ViewBag.PlayerAId"></select>
                <span asp-validation-for="Game!.PlayerAId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game!.PlayerBId" class="control-label"></label>
                <select asp-for="Game!.PlayerBId" class="form-control" asp-items="ViewBag.PlayerBId"></select>
                <span asp-validation-for="Game!.PlayerBId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game!.GameCreatedAt" class="control-label"></label>
                <input asp-for="Game!.GameCreatedAt" class="form-control" />
                <span asp-validation-for="Game!.GameCreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
