﻿@page
@using Domain.Enums
@using GameBrain
@model WebAppBattleship.Pages.GamePlay.Boards

@{
    ViewData["Title"] = "Game end";
}

@functions
{
    public Player GetFocusedPlayer()
    {
        if (Model.GBattleship!.NextMoveByPlayerA)
        {
            return Model.GBattleship!.GetPlayerA!;
        }
        return Model.GBattleship!.GetPlayerB!;
    }

    public Player GetEnemyPlayer()
    {
        if (Model.GBattleship!.NextMoveByPlayerA)
        {
            return Model.GBattleship!.GetPlayerB!;
        }
        return Model.GBattleship!.GetPlayerA!;
    }

    string getCellContentForFocusedPlayer(CellState cell)
    {
        switch (cell)
        {
            case CellState.Hit:
                return "bg-danger";
            case CellState.Miss:
                return "bg-primary";
            case CellState.Ship:
                return "bg-dark";
            case CellState.Free:
                return "table-primary";
        }
        return "table-light";
    }
}
<style type="text/css">
  .equalRelative {width:10%; height:10%;}
  .equalAbsolute {width:25px; height:25px;}
  .center { margin-left: auto; margin-right: auto}
</style>

<div class="text-center">
    <h2 class="display-3">This is how the game ended</h2>
</div>

<br>
<hr/>
<br>
<div class="row">
    <div class="col">
        <h4>@Model.GBattleship!.GetPlayerA!.Name's board</h4>
    </div>
    <div class="col">
        <h4>@Model.GBattleship!.GetPlayerB!.Name's board</h4>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table-bordered center">
            @for (int y = 0; y < Model.GBattleship?.GetBoardHeight; y++)
            {
                <tr>
                    @for (int x = 0; x < Model.GBattleship?.GetBoardWidth; x++)
                    {
                        <td class="@Html.Raw(getCellContentForFocusedPlayer(Model.GBattleship!.GetCellFromBoard(Model.GBattleship!.GetBoardPlayerA!, new[] {x, y}))) equalAbsolute"></td>
                    }
                </tr>
            }
        </table>
    </div>
    <div class="col">
        <table class="table-bordered center">
            @for (int y = 0; y < Model.GBattleship?.GetBoardHeight; y++)
            {
                <tr>
                    @for (int x = 0; x < Model.GBattleship?.GetBoardWidth; x++)
                    {
                        <td class="@Html.Raw(getCellContentForFocusedPlayer(Model.GBattleship!.GetCellFromBoard(Model.GBattleship!.GetBoardPlayerB!, new[] {x, y}))) equalAbsolute"></td>
                    }
                </tr>
            }
        </table>
    </div>
</div>