﻿@page
@using Domain.Enums
@using Domain
@model WebAppBattleship.Pages.GamePlay.Initiate

@{
    ViewData["Title"] = "Setting up";
}

@functions
{

}

<h1>Depart your fleet!</h1>

<br>
<br>

<a class="btn btn-outline-info btn-lg" asp-page="./PlaceShips" 
   asp-route-gameId="@Model.Game!.GameId" 
   asp-route-playerId="@Model.PlayerInFocus!.PlayerId"><i class="fas fa-user"></i>@Model.PlayerInFocus!.Name, start placing your ships!</a>