﻿@page
@using Domain.Enums
@using GameBrain
@model WebAppBattleship.Pages.GamePlay.MidScreen

@{
    ViewData["Title"] = "Move Result";
}

@functions
{
    public string GetMessage(MoveReturn msg)
    {
        switch (msg)
        {
            case MoveReturn.Miss:
                return "It was a   MISS   ! Your turn is over. &#128546;";
            case MoveReturn.HitRetry:
                return "It was a   HIT  💣 ! You can drop another bomb. 🤔";
            case MoveReturn.HitNoRetry:
                return "It was a   HIT  💣 ! Your turn is over. &#128528;";
            case MoveReturn.SameSpotTwice:
                return "Don't be stupid - don't bomb the same spot twice! Please try again. &#128533;";
            case MoveReturn.HitAndSankRetry:
                return "!!!  YOU'VE SANK AN ENEMY'S SHIP !!! You can drop another bomb. 😈" ;
            case MoveReturn.HitAndSankNoRetry:
                return "!!!  YOU'VE SANK AN ENEMY'S SHIP !!! Your turn is over. 😒";
            case MoveReturn.Start:
                return "Game is loaded.";
            default:
                return "Should not get here";
        }
    }

    public string GetBackground(MoveReturn msg)
    {
        switch (msg)
        {
            case MoveReturn.Miss:
                return "alert alert-primary";
            case MoveReturn.HitRetry:
                return "alert alert-success";
            case MoveReturn.HitNoRetry:
                return "alert alert-success";
            case MoveReturn.SameSpotTwice:
                return "alert alert-info";
            case MoveReturn.HitAndSankRetry:
                return "alert alert-warning" ;
            case MoveReturn.HitAndSankNoRetry:
                return "alert alert-warning";
            case MoveReturn.Start:
                return "alert alert-info";
            default:
                return "alert alert-light";
        }
    }

    public string GetButtonText()
    {
        if (Model.NextTurnPlayer.PlayerType == PlayerType.AI)
        {
            return "Click here!";
        }
        else
        {
            return $"{Model.NextTurnPlayer.Name}, click here!";
        }
    }

}

<h1 class="@GetBackground(@Model.Message) text-md-center">@Html.Raw(GetMessage(@Model.Message))</h1>
<br>
<br>
<div class="text-center">
    <a class="btn btn-warning btn-lg" asp-page="./Play" asp-route-boardId="@Model.BoardId"><i class="fas fa-user"></i>@GetButtonText()</a>
</div>