﻿@page
@using Domain.Enums
@using Microsoft.CodeAnalysis
@model WebAppBattleship.Pages.GamePlay.PlaceShips

@{
    ViewData["Title"] = "Initialize";
}

@functions
{
    string _dirH = "horizontal";
    string _dirV = "vertical";
    string CheckIfToCheck(string value)
    {
        if (value == Model.Direction)
        {
            return "checked";
        }
        return "";
    }
    string getCellContent(CellState cell)
    {
        var result = "table-info";
        switch (cell)
        {
            case CellState.Hit:
                result = "bg-danger";
                break;
            case CellState.Miss:
                result = "bg-primary";
                break;  
            case CellState.Ship:
                result = "bg-dark";
                break;
        }
        return result;
    }
}
<style type="text/css">
  .equalRelative {width:10%; height:10%;}
  .equalAbsolute {width:25px; height:25px;}
  .center { margin-left: auto; margin-right: auto}
</style>


<h1>@Model.PlayerInFocus!.Name, Please mark your fleet to the board</h1>
<hr/> <br>
<div class="row">
    <div class="col">
        <h5>This ship will be placed:</h5>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="placingDirection" id="placingHorizontal" value="horizontal" @CheckIfToCheck("horizontal") onclick="window.location.href='?gameId=@Model.Game!.GameId&playerId=@Model.PlayerInFocus!.PlayerId&dir=@_dirH'">
            <label class="form-check-label" for="placingHorizontal">horizontally</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="placingDirection" id="placingVertical" value="vertical" @CheckIfToCheck("vertical") onclick="window.location.href='?gameId=@Model.Game!.GameId&playerId=@Model.PlayerInFocus!.PlayerId&dir=@_dirV'">
            <label class="form-check-label" for="placingVertical">vertically</label>
        </div>
        <output type="text" id="dir" hidden></output>
    </div>

    <div class="col">
        <h5>This ship to place:</h5>
        <h6>
            Name: <span class="text-info">@Model.NextShipName</span> | 
            Size: <span class="text-info">@Model.NextShipSize</span> |
            Remaining: <span class="text-info">@Model.NextShipCountLeft</span>
        </h6>
    </div>
    @if (Model.InitiationStates.Count > 0 )
    {
        <div class="col">
            <a class="btn btn-light btn-lg" asp-page="./PlaceShips" asp-route-playerId="@Model.PlayerInFocus.PlayerId" asp-route-gameId="@Model.Game.GameId" asp-route-initId="@Model.InitiationState!.InitiationStateId"><i class="fas fa-user"></i>Take ship back</a>
        </div> 
    }
</div>

@if (Model.Message != "")
{
    <div class="p-3 mb-2 bg-warning text-dark"> <h3 class="text-center">@Model.Message</h3></div>
}

<br>
<div class="row">
    <div class="col">
            <table class="table-bordered center">
                @for (int y = 0; y < Model.GameOption?.BoardHeight; y++)
                {
                    <tr>
                        @for (int x = 0; x < Model.GameOption?.BoardWidth; x++)
                        {
                            <td onclick="window.location.href='?x=@x&y=@y&gameId=@Model.Game!.GameId&playerId=@Model.PlayerInFocus!.PlayerId&dir=@Model.Direction&ship=@Model.NextShipName'"
                                style="cursor: pointer"
                                class="@Html.Raw(getCellContent(Model.GBattleship!.GetCellFromBoard(Model.GBattleship!.GetBoardPlayerA!, new[] {x, y}))) equalAbsolute"></td>
                        }
                    </tr>
                }
            </table>
    </div>
</div>
