﻿@page
@using GameBrain
@using Domain.Enums
@model WebAppBattleship.Pages.GamePlay.Play

@{
    ViewData["Title"] = "Play";
}

@functions
{
    public Player GetFocusedPlayer()
    {
        if (Model.GBattleship!.NextMoveByPlayerA)
        {
            return Model.GBattleship!.GetPlayerA!;
        }
        return Model.GBattleship!.GetPlayerB!;
    }

    public Player GetEnemyPlayer()
    {
        if (Model.GBattleship!.NextMoveByPlayerA)
        {
            return Model.GBattleship!.GetPlayerB!;
        }
        return Model.GBattleship!.GetPlayerA!;
    }

    string GetCellContentForFocusedPlayer(CellState cell)
    {
        switch (cell)
        {
            case CellState.Hit:
                return "bg-danger";
            case CellState.Miss:
                return "bg-primary";
            case CellState.Ship:
                return "bg-dark";
            case CellState.Free:
                return "table-primary";
        }
        return "table-light";
    }

    string GetCellContentForEnemy(CellState cell)
    {
        switch (cell)
        {
            case CellState.Hit:
                return "bg-danger";
            case CellState.Miss:
                return "bg-primary";
            case CellState.Ship:
                return "table-primary";
            case CellState.Free:
                return "table-primary";
        }
        return "table-light";
    }

    string GetPlayerStats(Player player)
    {
        var stats = Model.GBattleship.GetStats(player).OrderByDescending(s => s.GetSize);
        var res = $"<span class='text-info'>Player {player.Name}</span> has on board left: ";
        var tmp = new List<string>();
        foreach (var s in stats)
        {
            tmp.Add($"<span class='text-info'>{s.GetCountLeft}</span>/<span>{s.GetInitialCount}</span> size <span>{s.GetSize}</span> ships");
        }
        res += string.Join(", ", tmp);
        return res;
    }
}
<style type="text/css">
  .equalRelative {width:10%; height:10%;}
  .equalAbsolute {width:25px; height:25px;}
  .center { margin-left: auto; margin-right: auto}
</style>

<div class="text-center">
    <h2 class="display-3">@GetFocusedPlayer().Name, please drop your bomb</h2>
</div>

<br>
<hr/>
<h5 class="text-center"> @Html.Raw(GetPlayerStats(Model.GBattleship!.GetPlayerA!))</h5>
<h5 class="text-center"> @Html.Raw(GetPlayerStats(Model.GBattleship!.GetPlayerB!))</h5>
<hr/>
<br>
<div class="row">
    <div class="col">
        <h4 class="text-center">This is your fleet</h4>
    </div>
    <div class="col">
        <h4 class="text-center">These are your bombings on your enemy</h4>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table-bordered center">
            @for (int y = 0; y < Model.GBattleship?.GetBoardHeight; y++)
            {
                <tr>
                    @for (int x = 0; x < Model.GBattleship?.GetBoardWidth; x++)
                    {
                        <td class="@Html.Raw(GetCellContentForFocusedPlayer(Model.GBattleship!.GetCellFromBoard((GetFocusedPlayer().Role == PlayerRole.A ? Model.GBattleship.GetBoardPlayerA : Model.GBattleship.GetBoardPlayerB)!, new[] {x, y}))) equalAbsolute"></td>
                    }
                </tr>
            }
        </table>
    </div>
    <div class="col">
        <table class="table-bordered center">
            @for (int y = 0; y < Model.GBattleship?.GetBoardHeight; y++)
            {
                <tr>
                    @for (int x = 0; x < Model.GBattleship?.GetBoardWidth; x++)
                    {
                        <td onclick="window.location.href='?x=@x&y=@y&boardId=@Model.BoardId'"
                            style="cursor: pointer"
                            class="@Html.Raw(GetCellContentForEnemy(Model.GBattleship!.GetCellFromBoard((GetFocusedPlayer().Role == PlayerRole.A ? Model.GBattleship.GetBoardPlayerB : Model.GBattleship.GetBoardPlayerA)!, new[] {x, y}))) equalAbsolute"></td>
                    }
                </tr>
            }
        </table>
    </div>
</div>