﻿@page
@using Domain
@model WebAppBattleship.Pages.GamePlay.Winner

@{
    ViewData["Title"] = "Winner";
}

@functions
{
    public string GetOpponentName()
    {
        if (Model.Game!.PlayerA!.Name == Model.GWinner)
        {
            return Model.Game!.PlayerB!.Name!;
        }
        return Model.Game!.PlayerA!.Name!;
    }
}


@if (Model.NoWinner)
{
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">This is a bit unexpected 😳 </h4>
        <p>This page should display a Winner, but apparently this is not a Winning board.</p>
        <hr>
        <div class="row">
            <div class="col">
                <p class="mb-0">
                    <a class="btn btn-info" asp-page="/Boards/Index" asp-route-GameId="@Model.Game!.GameId"><i class="fas fa-user"></i>Home</a>
                </p>
            </div>
            <div class="col">
                <p class="mb-0">
                    <a class="btn btn-info" asp-page="/Boards/Index" asp-route-GameId="@Model.Game!.GameId"><i class="fas fa-user"></i>Select another board for this Game</a>
                </p>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading"> 🎉 🎉 🎉 Congratulation, @Model.GWinner, YOU WON! 👏 👏 👏 </h4>
        <p>You have won game @Model.Game!.GameName! between You and @GetOpponentName()</p>
        <hr>
        <div class="row">
            <div class="col">
                <p class="mb-0">
                    <a class="btn btn-info" asp-page="/Index" asp-route-GameId="@Model.Game!.GameId"><i class="fas fa-user"></i>Home</a>
                </p>
            </div>
            <div class="col">
                <p class="mb-0">
                    <a class="btn btn-info" asp-page="/GamePlay/Boards" asp-route-boardId="@Model.Board!.BoardId"><i class="fas fa-user"></i>See both boards</a>
                </p>
            </div>
        </div>

    </div>
}