﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Battleship</h1>

    <br>
    <a class="btn btn-outline-success btn-lg" asp-page="./NewGame"><i class="fas fa-user"></i>Start a new game</a>
    <br>
    <p><strong>Or pick a previous game from below</strong></p>
    <br>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            Date
        </th>
        <th>
            Name
        </th>
        <th>
            Player A
        </th>
        <th>
            Player B
        </th>
        <th>
            Game Created At
        </th>
        <th>
            Available states
        </th>
        <th>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model!.Game!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerA!.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerB!.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameCreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Boards!.Count)
            </td>
            <td>
                @{
                    var route = "./Boards/Index";
                    if (item.Boards!.Count < 1)
                    {
                        route = "./GamePlay/Initiate";
                    }
                }
                <a asp-page=@route asp-route-gameId="@item.GameId">Pick</a> |
                <a asp-page="./Games/Delete" asp-route-id="@item.GameId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>