@page
@using Domain.Enums
@using GameBrain
@model WebAppBattleship.Pages_Games.CreateModel

@{
    ViewData["Title"] = "New game";
}

@functions
{
    public string CheckForMarginRule(MarginRule rule)
    {
        if (Model.MarginRule == rule)
        {
            return "checked";
        }
        return "";
    }
    
    public string CheckIfToCheck(string value)
    {
        if (value == Model.GamePlayType)
        {
            return "checked";
        }
        return "";
    }
}
<form method="post">
<div class="row">
    <div class="col">
        <h1>Start a new game</h1>
    </div>
    <div class="col">
        <div class="form-check">
            <input asp-for="GameType" class="form-check-input" type="radio" name="gameType" id="2H" value="2H" checked onclick="window.location.href='?gp=2H'">
            <label class="form-check-label" for="2H">Play with a human</label>
        </div>
        <div class="form-check">
            <input asp-for="GameType" class="form-check-input" type="radio" name="gameType" id="1AI" value="1AI"  onclick="window.location.href='?gp=1AI'">
            <label class="form-check-label" for="1AI">Play with a computer</label>
        </div>
        <div class="form-check">
            <input asp-for="GameType" class="form-check-input" type="radio" name="gameType" id="2AI" value="2AI"  onclick="window.location.href='?gp=2AI'">
            <label class="form-check-label" for="2AI">Let computers play with each other</label>
        </div>
    </div>

</div>

@if (Model.Message != null)
{
    <div class="p-3 mb-2 bg-warning text-dark">
        <h3 class="text-center">@Model.Message</h3>
    </div>
}


    <hr/>
    <h4>Players</h4>
    @if (Model.GameType == "2H")
    {
        <div class="row">
            <div class="col">
                <input asp-for="PlayerA" class="form-control" placeholder="Player A" required>
            </div>
            <div class="col">
                <input asp-for="PlayerB" class="form-control" placeholder="Player B" required>
            </div>
        </div>
    }
    @if (Model.GameType == "1AI")
    {
        <div class="row">
            <div class="col">
                <input asp-for="PlayerA" class="form-control" placeholder="Player A" required>
            </div>
            <div class="col">
                <input asp-for="PlayerB" class="form-control" value="Nemesis" required readonly>
            </div>
        </div>
    }
    @if (Model.GameType == "2AI")
    {
        <div class="row">
            <div class="col">
                <input asp-for="PlayerA" class="form-control" value="Genesis" required readonly>
            </div>
            <div class="col">
                <input asp-for="PlayerB" class="form-control" value="Nemesis" required readonly>
            </div>
        </div>
    }
    
    <hr/>
    <h4>Game</h4>
    <div class="row">
        <div class="col">
            <input asp-for="GameName" class="form-control" placeholder="Name of the game (optional)">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Play!</button>
        </div>
    </div>
    <hr/>
    <h4>General Gameplay</h4>
    <div class="row">
        <div class="col">
            <p>Margin rule</p>
            <div class="form-check">
                <input class="form-check-input" asp-for="MarginRule" name="MarginRule" type="radio" id="MR0" value="@MarginRule.CanTouchSides">
                <label class="form-check-label" for="MR0">
                    Ships can touch by sides and corners
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" asp-for="MarginRule" name="MarginRule" type="radio" id="MR1" value="@MarginRule.CanTouchCorners">
                <label class="form-check-label" for="MR1">
                    Ships can touch only by corners
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" asp-for="MarginRule" name="MarginRule" type="radio" id="MR2" value="@MarginRule.CannotTouch">
                <label class="form-check-label" for="MR2">
                    Ships cannot touch in any way
                </label>
            </div>
        </div>
        <div class="col">
            <p>Turn rule</p>
            <div class="form-check">
                <input class="form-check-input" asp-for="TurnRule" name="TurnRule" type="radio" id="TR0" value="@TurnRule.CanHaveTurnsInRow" checked>
                <label class="form-check-label" for="TR0">
                    Player can have an another turn if they hit an enemy's ship
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" asp-for="TurnRule" name="TurnRule" type="radio" id="TR1" value="@TurnRule.CannotHaveTurnsInRow">
                <label class="form-check-label" for="TR1">
                    Player cannot have multiple turns in a row
                </label>
            </div>
        </div>
    </div>
    <hr/>
    <h4>Board</h4>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="height">Height of the board</label>
                <input type="range" class="form-control-range" asp-for="BoardHeight" id="height" min="10" max="50" value="@(Model.SideSize == 0 ? 15 : Model.SideSize)" onchange="heightValue.value=value">
                <output type="text" id="heightValue">@(Model.SideSize == 0 ? 15 : Model.SideSize)</output>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="width">Width of the board</label>
                <input type="range" class="form-control-range" asp-for="BoardWidth" id="width" min="10" max="50" value="@(Model.SideSize == 0 ? 15 : Model.SideSize)" onchange="widthValue.value=value">
                <output type="text" id="widthValue">@(Model.SideSize == 0 ? 15 : Model.SideSize)</output>
            </div>
        </div>
    </div>
    <hr/>
    <h4>Ships</h4>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="height">Size of your CARRIER</label>
                <input type="range" class="form-control-range" asp-for="CarrierSize" id="carrierSize" min="0" max="10" value="@(Model.CarrierSize == 0 ? 5 : Model.CarrierSize)" onchange="carrierSizeValue.value=value">
                <output type="text" id="carrierSizeValue">@(Model.CarrierSize == 0 ? 5 : Model.CarrierSize)</output>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="width">Count of your CARRIERS</label>
                <input type="range" class="form-control-range" asp-for="CarrierCount" id="carrierCount" min="0" max="10" value="@(Model.CarrierCount == 0 ? 1 : Model.CarrierCount)" onchange="carrierCountValue.value=value">
                <output type="text" id="carrierCountValue">@(Model.CarrierCount == 0 ? 1 : Model.CarrierCount)</output>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="height">Size of your BATTLESHIP</label>
                <input type="range" class="form-control-range" asp-for="BattleshipSize" id="battleshipSize" min="0" max="10" value="@(Model.BattleshipSize == 0 ? 4 : Model.BattleshipSize)" onchange="battleshipSizeValue.value=value">
                <output type="text" id="battleshipSizeValue">@(Model.BattleshipSize == 0 ? 4 : Model.BattleshipSize)</output>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="width">Count of your BATTLESHIPS</label>
                <input type="range" class="form-control-range" asp-for="BattleshipCount" id="battleshipCount" min="0" max="10" value="@(Model.BattleshipCount == 0 ? 2 : Model.BattleshipCount)" onchange="battleshipCountValue.value=value">
                <output type="text" id="battleshipCountValue">@(Model.BattleshipCount == 0 ? 2 : Model.BattleshipCount)</output>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="height">Size of your CRUISER</label>
                <input type="range" class="form-control-range" asp-for="CruiserSize" id="cruiserSize" min="0" max="10" value="@(Model.CruiserSize == 0 ? 3 : Model.CruiserSize)" onchange="cruiserSizeValue.value=value">
                <output type="text" id="cruiserSizeValue">@(Model.CruiserSize == 0 ? 3 : Model.CruiserSize)</output>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="width">Count of your CRUISERS</label>
                <input type="range" class="form-control-range" asp-for="CruiserCount" id="cruiserCount" min="0" max="10" value="@(Model.CruiserCount == 0 ? 3 : Model.CruiserCount)" onchange="cruiserCountValue.value=value">
                <output type="text" id="cruiserCountValue">@(Model.CruiserCount == 0 ? 3 : Model.CruiserCount)</output>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="height">Size of your SUBMARINE</label>
                <input type="range" class="form-control-range" asp-for="SubmarineSize" id="submarineSize" min="0" max="10" value="@(Model.SubmarineSize == 0 ? 2 : Model.SubmarineSize)" onchange="submarineSizeValue.value=value">
                <output type="text" id="submarineSizeValue">@(Model.SubmarineSize == 0 ? 2 : Model.SubmarineSize)</output>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="width">Count of your SUBMARINES</label>
                <input type="range" class="form-control-range" asp-for="SubmarineCount" id="submarineCount" min="0" max="10" value="@(Model.SubmarineCount == 0 ? 4 : Model.SubmarineCount)" onchange="submarineCountValue.value=value">
                <output type="text" id="submarineCountValue">@(Model.SubmarineCount == 0 ? 4 : Model.SubmarineCount)</output>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="height">Size of your DESTROYER</label>
                <input type="range" class="form-control-range" asp-for="DestroyerSize" id="destroyerSize" min="1" max="10" value="@(Model.DestroyerSize == 0 ? 1 : Model.DestroyerSize)" onchange="destroyerSizeValue.value=value">
                <output type="text" id="destroyerSizeValue">@(Model.DestroyerSize == 0 ? 1 : Model.DestroyerSize)</output>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="width">Count of your DESTROYERS</label>
                <input type="range" class="form-control-range" asp-for="DestroyerCount" id="destroyerCount" min="1" max="10" value="@(Model.DestroyerSize == 0 ? 5 : Model.DestroyerCount)" onchange="destroyerCountValue.value=value">
                <output type="text" id="destroyerCountValue">@(Model.DestroyerCount == 0 ? 5 : Model.DestroyerCount)</output>
            </div>
        </div>
    </div>
    <hr/>

</form>

<div>
    <a asp-page="Index">Back to old games</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}